@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --main-color: #333333;
  --strong-black: #000000;
  --white-color: #FFFFFF;
  --button-grey: #82B3D3;
  --button-green: #756157;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--strong-black);
  background-color: var(--white-color);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);

}

.navigation-list {
  list-style: none;
  padding-left: 0;
}

.navigation-link {
  text-align: center;
  text-decoration: none;
}

.index-advantages__background {
  width: 1200px;
  height: 485px;
  background: url("../images/index/index-background.jpg") no-repeat;
  background-color: darkkhaki;
  position: relative;
}

.index-advantages__welcome {
  width: 458px;
  height: 352px;
  background: url("../images/index/welcome.svg") no-repeat;
  position: absolute;
  top: 51px;
  left: 351px;
}
.index-advantages__divider {
  width: 1200px;
  height: 57px;
  background: url("../images/index/divider.png") no-repeat;
  position: absolute;
  top: 428px;
}

.page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.page-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.page-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.page-button {
  background-color: var(--button-grey);
  color: var(--white-color);
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--strong-black);
}

.page-button-green {
  background-color: var(--button-green);
  color: var(--white-color);
  border-radius: 4px;
}

.index-search .page-button-green {
  display: block;
  width: 376px;
  height: 52px;
  text-align: center;
}

.catalog-filter {
  background: url("../images/catalog/catalog-background.jpg");
  background-color: darkkhaki;
  color: var(--white-color);
}


.catalog-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}

.advantages-item_big {
  color: var(--white-color);
  background-color: var(--button-grey);
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
