@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/*Общие элементы*/

:root {
  --main-color: #333333;
  --strong-black: #000000;
  --white-color: #FFFFFF;
  --button-grey: #82B3D3;
  --button-green: #756157;
}

.container {
  width: 1200px;
  margin: auto;
  min-height: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

}

.button {
  display: block;
  font-family: inherit;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  border: none;
}

.page-button-green {
  background-color: var(--button-green);
  color: var(--white-color);
  grid-area: details;
}

.page-button-blue {
  background-color: var(--button-grey);
  color: var(--white-color);
}

.page-button-favorite {
  background-color: #7DB54F;
  color: #FFFFFF;
}

.button:hover {
  cursor: pointer;
}

.page-button-blue:hover, .page-button-blue:focus-visible {
  background-color: #68A2CA;
}

.page-button-blue:active {
  background-color: #82B3D3;
  opacity: 0.3;
}

.page-button-green:hover, .page-button-green:focus-visible {
  background-color: #615048;
}

.page-button-green:active {
  background-color: #756157;
  opacity: 0.3;
}

.page-button-favorite:hover, .page-button-favorite:focus-visible {
  background-color: #6C9E42;
}

.page-button-favorite:active {
  background-color: #7DB54F;
  opacity: 0.3;
}



.visually-hidden {
  position: fixed;
  transform: scale(0);
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--strong-black);
  background-color: var(--white-color);
}

.page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.page-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.page-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}



/*Главная страница Хедер*/

.header {
  display: flex;
  max-height: 64px;
}

.header-logo {
  margin-left: 70px;
}

.header-navigation {
  display: flex;
  margin-left: 2.5%;
}

.site-list, .user-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.site-list {

  width: 339px;
}

.user-list {
  margin: 0;
  width: 268px;
  margin-left: 250px;
}



.site-link {
  padding: 20px 16px 20px 16px;
}


.site-link, .user-item {
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--strong-black);
}

.find-link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

}

.find-link::before {
  content: "";
  grid-row: 2/4;
  grid-column: 2/4;
  align-self: center;
  background-image: url(../images/index/search.svg);
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

.user-item:nth-child(2) .user-link {
  min-height: 64px;
}

.user-item:nth-child(3) .user-link {
  min-width: 160px;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-link {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

.favorite-link::after {
  grid-column: 2/4;
  grid-row: 2/4;
  content: "";
  background-image: url(../images/index/heart.svg);
  display: block;
  width: 18px;
  height: 17px;
  z-index: 1;
}


.favorite-badge {
  display: block;
  grid-column: -3/-2;
  grid-row: -3/-4;
  height: 10px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  background-color: #7DB54F;
  border-radius: 50px;
  z-index: 10;
}

.site-link:hover, .site-link:focus-visible {
  border-bottom: 2px solid #756257;
}

.site-link:active {
  border-bottom: 2px solid greenyellow;
}

.user-item:nth-child(1) .user-link:hover::before {
  border-bottom: 2px solid #756257;
}

.user-link:nth-child(1):hover,  .user-link:nth-child(2):hover::before {
  border-bottom: 2px solid #756257;
}


/*Индекс*/

/*Hero*/

.hero {
  min-height: 485px;
  background-image: url("../images/index/divider.png"), url("../images/index/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center top;
  background-color: #0000004D;
  color: #000000;
  text-align: center;
  margin-bottom: 69px;
}

.hero-intro {
  padding-top: 51px;
}

/*Advantages */

.advantages {
  margin-bottom: 64px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  max-width: 620px;
  margin-inline: auto;
  margin: auto;
  margin-bottom: 25px;
}

.advantages-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: auto;
  margin-bottom: 90px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
}

.advantages-item {
  width: 33.33%;
  height: 385px;
  text-align: center;
  display: flex;
}

.advantages-item-big {
  width: 100%;
  color: var(--white-color);
  background-color: var(--button-grey);
}

.advantages-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
}

.advantages-item:nth-child(1) .advantages-name::after,
.advantages-item:nth-child(5) .advantages-name::after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
  opacity: 30%;
}

.advantages-item:nth-child(2) .advantages-name::after,
.advantages-item:nth-child(3) .advantages-name::after,
.advantages-item:nth-child(4) .advantages-name::after {
  content: "";
  display: block;
  margin: 30px auto 0 auto;
  width: 60px;
  height: 2px;
  background-color: #000000;
  opacity: 30%;
}



.block-shade {
  background-color: #83B3D333;
}

.advantages-reversed {
  flex-direction: row-reverse;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 32px 85px;
  box-sizing: border-box;
}

/*Услуги и Сервис*/

.service-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.service-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin-inline: auto;
  margin: 0;
  margin-bottom: 64px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.service-item {
  width: 400px;
  height: 385px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  background: #83B3D31F;
}

.block-light {
  background-color: #FFFFFF;
}

.service-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.service-link {
  display: block;
  margin-top: 81px;
}

.service-description {
  margin: 0 auto;
  width: 230px;
  height: 63px;
}

/*Поиск*/



.search-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 96px;
}

.search-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-inline: auto;
  margin-top: 20px;
  margin-bottom: 54px;
}

.search__button {
  width: 376px;
  height: 52px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 54px;
}

.subscribing {
  color: #000000;
}

.subscribing-with-picture {
  background-image: url("../images/index/mounts.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.subscribing-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding-top: 96px;
}

.subscribing-subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0;
  margin-inline: auto;
  padding-top: 20px;
  padding-bottom: 54px;
}

.subscribing-form {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 684px;
  margin-inline: auto;
  padding-bottom: 104px;
}

.subscribing-input {
  grid-row: 1/-1;
  grid-column: 1/-2;
  padding: 12px 20px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
}

.subscribing-control {
  grid-row: 1/-1;
  grid-column: 1/-1;
  justify-self: start;
  align-self: center;
  padding-inline: 20px;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  opacity: 0.6;
}

.subscribing-button {
  grid-row: 1/-1;
  grid-column: 2/3;
  min-width: 232px;
  max-width: 320px;
  font-size: 20px;
  line-height: 1.8;
  border-radius: 0 4px 4px 0;
}

/*Каталог*/

.filter {
  min-height: 412px;
  background: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: darkkhaki;
  color: var(--white-color);
  margin-bottom: 50px;
  padding-left: 70px;
}


.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin: 0;
  padding-top: 35px;

}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  width: 140px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
  margin-left: 82px;
}

.social-link {
  display: block;
  position: relative;
  width: 47px;
  height: 40px;
  text-decoration: none;
}

.social-link::before {
  position: absolute;
  inset: 0;
  content: "";
  background-color: #83B3D3;
  mask-position: center;
  mask-repeat: no-repeat;
}

.tg-link::before {
  mask-image: url("../images/footer/tg.svg");
}

.utube-link::before {
  mask-image: url("../images/footer/utube.svg");
}

.vk-link::before {
  mask-image: url("../images/footer/vk.svg");
}

.social-link:hover::before, .social-link:focus-visible::before {
  background-color: #68A2CA;
  /* background-color: red; */
}

.social-link:active::before {
  background-color: #68A2CA;
  /* background-color: green; */
  opacity: 0.3;
}


.footer-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
}

.footer-phone:hover, .footer-phone:focus-visible {
  color: #756157;
}

.footer-phone:active {
  color: #756157;
  opacity: 0.3;
}

.footer-developer {
  display: block;
  position: relative;
  margin-right: 70px;
  width: 115px;
  height: 34px;
  text-decoration: none;
}

.footer-developer::before {
  content: "";
  position: absolute;
  inset: 0;
  mask-image: url(../images/footer/developer.svg);
  background-color: #000000;
}

.footer-developer:hover::before, .footer-developer:focus-visible::before {
  background-color: #756157;
}

.footer-developer:active::before {
  background-color: #756157;
  opacity: 0.3;
}


/*Каталог*/

.breadcrumbs-list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.breadcrumbs-link {
  text-decoration: none;
  color: #FFFFFF;
}

.breadcrumbs-link::before {
  content: ">"
}

.filter-form {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

/*Control*/
.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

/*Mark*/
.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 12.2px;
  height: 7px;
  border: 3px solid #3F5E72;
  border-top: none;
  border-right: none;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-45deg);
}

/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-handle {
  margin-top: 32px;
  display: flex;
  gap: 2px;
}

.price-control {
  display: grid;
  grid-template-columns: 1fr;
}

.price-label {
  grid-column: 1/-1;
  grid-row: 1/-1;
  justify-self: end;
  align-self: center;
  padding-right: 20px;
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  opacity: 0.3;
}

.price-input {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  min-width: 144px;
  padding-inline: 20px 50px;
  padding-block: 12px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #60686C;
  border-radius: 2px;
  margin-top: 48px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: green;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid yellow;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 220px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.select-control {
  width: 292px;
  height: 49px;
  padding: 14px 20px;
  padding-right: 48px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-image: url("../images/catalog/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.select-control:hover,
.select-control:focus {
  border-color: #af7842;
}

.select-control:focus {
  outline: 2px solid #dbb590;
}

.visual-list {
  grid-area: view;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 272px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visual-button {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-color: var(--color-lightest);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  border: 2px solid var(--color-light-gray-300);
  border-radius: 4px;
}

.visual-button-current {
  border-color: var(--color-darkest);
}

.visual-button-tile {
  background-image: url(../images/catalog/tile-visual.svg);
}

.visual-button-card {
  background-image: url(../images/catalog/card-visual.svg);
}

.visual-button-list {
  background-image: url(../images/catalog/list-visual.svg);
}

.results-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;

}

.table-board {
  max-width: 1060px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 70px;
  margin-left: 70px;
}

.board-list {
  list-style: none;
  padding-left: 0;
  display: flex;
}

.board-item {
  border: 1px solid #000000;
  width: 16px;
  height: 14px;
  box-sizing: border-box;
  margin-left: 8px;
}

.hotel-list {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
}

.hotel-item {
  width: 300px;
  height: 398px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 212px auto;
  align-items: end;
  grid-template-areas:
    "picture picture"
    "title title"
    "type price"
    "details favorite"
    "stars rating";
}

.hotel-title {
  grid-area: title;
  margin: 0;
}

.hotel-link {
  grid-area: picture;
}

.hotel-type {
  grid-area: type;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.hotel-price {
  grid-area: price;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.hotel-stars {
  grid-area: stars;
  margin: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hotel-stars::after {
  display: block;
  content: "";
  width: 140px;
  height: 17px;
  background-image: url(../images/catalog/star.svg);
  background-size: 24px 17px;
  background-repeat: repeat-x;
}

.hotel-stars-one {
  width: 24px;
}

.hotel-stars-two {
  width: 48px;
}

.hotel-stars-three {
  width: 72px;
}

.hotel-stars-four {
  width: 96px;
}

.hotel-stars-five {
  width: 120px;
}

.hotel-rating {
  grid-area: rating;
  margin: 0;
}

.page-button {
  grid-area: favorite;
}

.pagination-list {
  list-style: none;
  display: flex;
  gap: 8px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  line-height: 36px;
  color: #FFFFFF;
}

.pagination-item-selected {
  background-color: #F2F2F2;
  color: #000000;
}





.search-button {
  padding: 8px 50px;
  text-align: center;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
}


.filter-button {
  padding: 8px 50px;
}

.filter-bonuses {
  margin-right: 70px;
}

.filter-types {
  margin-right: 140px;
}

.filter-money {
  margin-right: 70px;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  width: 717px;
  min-height: 576px;
  padding: 64px 70px;
  background-color: #ffffff;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-content {
  display: grid;
  grid-template-columns: 137px 110px auto 137px 110px;
  grid-template-rows: auto repeat(6, 48px) auto;
  align-items: center;
  justify-items: stretch;
}

.modal-title {
  grid-column: 1/6;
  grid-row: 1/2;
  font-family: inherit;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-arrive {
  grid-row: 2/3;
  grid-column: 1/6;
}

.modal-inform {
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.modal-inform-arrive {
  grid-row: 3/4;
  color: #FF5757;
}

.modal-inform-departure {
  grid-row: 5/6;
}

.modal-departure {
  grid-row: 4/5;
  grid-column: 1/6;
}

.modal-transfer {
  display: flex;

  justify-content: space-between;
}

.modal-age {
  grid-row: 6/7;
  grid-column: 1/6;
 height: 48px;
  display: flex;
  justify-content: space-between;

}

.modal-age-label {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 46px;
  align-self: center;
}

.modal-age-input {
padding-left: 40px;
padding-right: 40px;
box-sizing: border-box;
 width: 110px;
 height: 48px;
 font-weight: 700;
 font-size: 18px;
 line-height: 20px;
 background-color: #F2F2F2;
  border: none;
  outline: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal-age-mark {
  display: flex;
}

.modal-age-mark::before {
  transform: translateX(50px) translateY(23px);
  content: "";
  cursor: pointer;
  display: block;
  width: 40px;
  height: 48px;

  background-image: url(../images/modal-minus.svg);
  background-repeat: no-repeat;
}

.modal-age-mark::after {
  transform: translateX(-30px) translateY(20px);
  content: "";
  cursor: pointer;
  display: block;
  width: 40px;
  height: 48px;
  background-image: url(../images/modal-plus.svg);
  background-repeat: no-repeat;
}

.modal-age-control {
  display: flex;
}

.modal-label {
  font-family: inherit;
  align-self: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;

}

.modal-date {
  box-sizing: border-box;
  padding: 12px 100px 12px 20px;
  border: none;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #F2F2F2;
  width: 440px;
}

.kinder-age {
  display: flex;
}

.kinder-age::after {
  cursor: pointer;
  content: "i";
  text-align: center;
  color: #ffffff;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
}


.modal-button {
  grid-row: 8/9;
  grid-column: 1/-1;
  min-width: 577px;
  min-height: 60px;
}

.date-wrapper {
  position: relative;
}

.date-wrapper::after {
  position: absolute;
  right: 20px;
  top: 20px;
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  background-image: url(../images/modal-calendar.svg);
  cursor: pointer;
}
